<agm-map [zoom]="2" (mapClick)="onChoseLocation($event)">
  <agm-marker
    *ngFor="let camera of camerasList; let i = index"
    [latitude]="camera.latitude"
    [longitude]="camera.longitude"
    (markerClick)="clickedMarker($event)"
  >
</agm-marker>
</agm-map>

<!-- (click)="clickedMarker($event)" -->

<!-- <agm-info-window>
  <strong>Info content</strong>
</agm-info-window> -->
<!-- TODO add click functionality for the marker.currently receiving the event -->
<!-- TODO- fix - but comes and go- "cannot bind ngForOf since it is unknown propertyof amg-marker" -->